@import "./elements/sw-tabs.css";
@import "./tags/tp-ul.css";
@import "./elements/sw-timer.css";
@import "./elements/sw-countdown.css";
@import "./elements/sw-info-card.css";
@import "./elements/sw-hero-card.css";
@import "./elements/sw-progress.css";
@import "./elements/sw-search.css";
@import "./components/hb-account.css";
@import "./components/hb-card-payment.css";
@import "./components/hb-avatar.css";
@import "./components/hb-login.css";
@import "./components/hb-signup.css";
@import "./components/hb-logout.css";
@import "./components/hb-checkout.css";

sw-tabs {
    display: grid;
    grid-template-columns: 1fr 9fr;
}

sw-tab {
    
}

sw-panel {
    grid-column-start: 2; 
    grid-column-end: 3; 
    grid-row-start: 1; 
    grid-row-end: 18; 
}
