/* sw-timer form label {
    border: 1px solid green;
}

sw-timer[summer] form label {
    border: 1px solid orange;
} */

sw-timer form label {
    color: hotpink;
    font-family: "palladio", serif;
    font-size: 3em;
    position: relative;
  }

sw-timer input {
    border: none;
    font-size: 2em;
    padding-right: .1em;
    text-align: center;
}