hb-card-payment form {
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    color:yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

hb-card-payment input {
    border: 2px solid blue;
    text-align: center;
}
hb-card-payment form {
    border: 2px solid blue;
}