

hb-signup form {
    display: flex;
    flex-direction: column;
    font-family: "Permanent Marker", cursive; ;
    justify-content: center;
    background: hotpink;
    border: 2px  inset #ff69b4;
    padding: 0;
    margin: 0;
    text-align: center;
    
    
}

hb-signup input, hb-signup button {
    background-color: palevioletred;
    border: 2px solid silver;
    font-size: 1.25em;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
}

hb-signup button {
    background-color: #c8c8cd;

}